.dark-mode .ant-dropdown-menu {
  background-color: #777777;
  border-radius: unset;
  padding: unset;
}

.dark-mode .ant-dropdown-menu .ant-dropdown-menu-item {
  color: #ffffff;
  border: unset;
  border-bottom: 1px solid #7d7d7d;
  border-radius: unset;
  padding: 1.25rem 2rem;
}

.dark-mode .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: #717171;
}